<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sk Database</title>
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<div class="header">
			<div class="logo">
				<h1>StyleSasi</h1>
				<img src="/static/bat_logo.png" alt="Bat" />
			</div>
			<pre>Student Details                               </pre>
			<div class="buttons">
				<a
					onclick="return confirm('Are you confirm to continue ? ');"
					href="{{url_for('home')}}"
					class="home"
					>Home</a
				>
                
			</div>
		</div>
		<hr />
		<div class="Container">
			<div class="addEditContain">
				<div class="addEditHead"><div>Add Student</div><div>Details</div></div>
				<div class="verticalLine"></div>
                <div class="addEditForm">
                    <form action="" method="post">
                        <div>
                            <label for="NAME">Name : </label><br>
                            <input
                                type="text"
                                name="NAME"
                                required
                                placeholder="Type your name here"
                            />
                        </div>
                        <div>
                            <label for="AGE">Age : </label><br>
                            <input
                                type="text"
                                name="AGE"
                                required
                                placeholder="Type your age here"
                            />
                        </div>
                        <div>
                            <label for="SUBJECT">Subject : </label><br>
                            <input
                                type="text"
                                name="SUBJECT"
                                required
                                placeholder="Type your subject here"
                            />
                        </div>
                        <div>
                            <label for="CITY">City : </label><br>
                            <input
                                type="text"
                                name="CITY"
                                required
                                placeholder="Type your city here"
                            />
                        </div>
                        <div>
                            <input class="submit" type="submit" value="Add Details"></input>
                        </div>
                    </div>
                    </form>
			</div>
		</div>
	</body>
</html>

